In [1]:
import pandas as pd
from lxml.html import parse
from urllib2 import urlopen
from pandas import DataFrame, Series

In [2]:
url='http://en.artron.net/auction/paimai-list.php?zcid=PZ2029244'

In [3]:
doc = parse(urlopen(url)).getroot()

In [4]:
tables = doc.findall('.//table')

In [5]:
len(tables)

8

In [6]:
tables[1].findall('.//tr')

[<Element tr at 0x10e63c2b8>,
 <Element tr at 0x10e63c730>,
 <Element tr at 0x10e63c788>,
 <Element tr at 0x10e63c7e0>,
 <Element tr at 0x10e63c838>,
 <Element tr at 0x10e63c890>,
 <Element tr at 0x10e63c8e8>,
 <Element tr at 0x10e63c940>,
 <Element tr at 0x10e63c998>,
 <Element tr at 0x10e63c9f0>,
 <Element tr at 0x10e63ca48>,
 <Element tr at 0x10e63caa0>,
 <Element tr at 0x10e63caf8>,
 <Element tr at 0x10e63cb50>,
 <Element tr at 0x10e63cba8>,
 <Element tr at 0x10e63cc00>,
 <Element tr at 0x10e63cc58>,
 <Element tr at 0x10e63ccb0>,
 <Element tr at 0x10e63cd08>,
 <Element tr at 0x10e63cd60>,
 <Element tr at 0x10e63cdb8>,
 <Element tr at 0x10e63ce10>,
 <Element tr at 0x10e63ce68>,
 <Element tr at 0x10e63cec0>,
 <Element tr at 0x10e63cf18>,
 <Element tr at 0x10e63cf70>,
 <Element tr at 0x10e63cfc8>,
 <Element tr at 0x110fe7050>,
 <Element tr at 0x110fe70a8>,
 <Element tr at 0x110fe7100>]

In [7]:
tables[1].findall('.//tr')[0].text_content()

u'\r\n    \r\n        Christie\u2019s London Ltd.\r\n    >>\r\n    2016 May Auction    >>\r\n    Inspired themes: a fine selection of chinese works of art    \r\n      Total 88 lots , Lots 0001-0088         , Sold 61 Lots  , Sold Total:GBP\xa0488 , Rate:%\r\n        \r\n\t    \r\n  '

In [8]:
tables[1].findall('.//tr')[7].text_content()

'\r\n          Lot\r\n          Name\r\n          Estimate\r\n          Price\r\n        '

In [9]:
tables[1].findall('.//tr')[8].text_content()

u"\r\n          0001\r\n          \r\n                    \t\xa0A VERY RARE CINNABAR LACQUER \u2018MALLET' VASE\r\n          \r\n          \r\n          GBP\xa015,000-20,000          \r\n          \r\n          GBP\xa0698,500          \r\n        "

In [10]:
rows = tables[1].findall('.//tr')

In [11]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [12]:
#_unpack(rows[7])

In [13]:
#_unpack(rows[7])[:4]

In [14]:
_unpack(rows[0])

[u'\r\n        Christie\u2019s London Ltd.\r\n    >>\r\n    2016 May Auction    >>\r\n    Inspired themes: a fine selection of chinese works of art    \r\n      Total 88 lots , Lots 0001-0088         , Sold 61 Lots  , Sold Total:GBP\xa0488 , Rate:%\r\n        \r\n\t    ']

In [17]:
data = DataFrame([_unpack(r)[:4] for r in rows[8:28]],columns=_unpack(rows[7]))

In [18]:
data

,Lot,Name,Estimate,Price
0,0001,\r\n \t A VERY RARE CINNABA...,"\r\n GBP 15,000-20,000","\r\n GBP 698,500"
1,0002,\r\n \t A CLOISONNÉENAMEL T...,"\r\n GBP 15,000-20,000","\r\n GBP 25,000"
2,0003,\r\n \t A RARE IMPERIALCLOI...,"\r\n GBP 60,000-80,000","\r\n GBP 74,500"
3,0004,\r\n \t A PAIR OFCLOISONNÉ ...,"\r\n GBP 10,000-15,000","\r\n GBP 19,375"
4,0005,\r\n \t A RARE CLOISONNÉENA...,"\r\n GBP 20,000-30,000","\r\n GBP 21,250"
5,0007,\r\n \t A MATT BLACK-GLAZED...,"\r\n GBP 15,000-25,000","\r\n GBP 15,000"
6,0008,\r\n \t A GREEN-ENAMELLED ‘...,"\r\n GBP 15,000-20,000","\r\n GBP 12,500"
7,0012,\r\n \t AN IVORY AND GOURD ...,"\r\n GBP 15,000-25,000","\r\n GBP 18,750"
8,0013,\r\n \t A PAIR OF ARCHAISTI...,"\r\n GBP 15,000-20,000","\r\n GBP 17,500"
9,0015,\r\n \t A GILT REPOUSSÉBRON...,"\r\n GBP 20,000-40,000","\r\n GBP 25,000"
10,0016,\r\n \t A LARGE GILT-BRONZE...,"\r\n GBP 40,000-60,000","\r\n GBP 266,500"
11,0019,\r\n \t A GILT-BRONZE FIGUR...,"\r\n GBP 15,000-20,000","\r\n GBP 12,500"
12,0021,\r\n \t A GILT BRONZE FIGUR...,"\r\n GBP 10,000-15,000","\r\n GBP 20,000"
13,0022,\r\n \t A GILT-BRONZE FIGUR...,"\r\n GBP 10,000-15,000","\r\n GBP 13,750"
14,0025,\r\n \t A PAINTED WOOD FIGU...,"\r\n GBP 10,000-15,000","\r\n GBP 116,500"
15,0027,\r\n \t A LARGE POLYCHROME ...,"\r\n GBP 40,000-60,000","\r\n GBP 50,000"
16,0030,\r\n \t A FINELY CARVED AND...,"\r\n GBP 60,000-80,000","\r\n GBP 80,500"
17,0031,\r\n \t A SPINACH JADE TABL...,"\r\n GBP 10,000-15,000","\r\n GBP 16,250"
18,0032,\r\n \t A JADE-INSETCLOISON...,"\r\n GBP 20,000-30,000","\r\n GBP 20,000"
19,0033,\r\n \t A PALE CELADON JADE...,"\r\n GBP 40,000-60,000","\r\n GBP 40,000"